﻿@model IVH7A4Cinema.WebUI.Models.FilmScheduleModel

<div class="col-md-6">
    <div class="col-md-12">
        <h2>@Model.Film.Name</h2>
    </div>

    <div class="col-md-12">
        <div class="col-md-5 nopad-lr">
            <table class="scheduleTable">
                <tr>
                    <td>Leeftijd:</td>
                    <td>@Model.Film.Age</td>
                </tr>
                <tr>
                    <td>Duur:</td>
                    <td>@Model.Film.length minuten</td>
                </tr>
                <tr>
                    <td>Taal:</td>
                    <td>@Model.Film.Language</td>
                </tr>
                <tr>
                    <td>Ondertitels:</td>
                    <td>@Model.Film.SubTitles</td>
                </tr>
                <tr>
                    <td>3D:</td>
                    <td>
                        @if (Model.Film.Type == "3D")
                    {
                        @:Ja
                        }
                    else {
                        @:Nee
                        }
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-7">
        @Html.Action("Schedule", "Film", new { FilmID = Model.Film.FilmID, Schedule = Model.Schedule, Room = Model.Room })
    </div>
</div>
</div>