﻿@model IVH7A4Cinema.WebsiteUI.Models.SearchViewModel
@{
    ViewBag.Title = "Zoeken";
}

@using (Html.BeginForm())
{
    <div class="form-group">
        <label>Zoeken op filmtitel</label> 
        @Html.TextBoxFor(ss => ss.CurrentSearchString, new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Zoeken op datum</label>
        @Html.TextBoxFor(ss => ss.CurrentDateSearch, new { @Value = DateTime.Today, @class = "form-control" })
    </div>

    <div class="form-group">
        <label>Zoeken op tijd</label>
        @Html.TextBoxFor(ss => ss.CurrentTimeSearch, new { @Class = "form-control" })
    </div>
    <div class="text-center">
        <button type="submit" class="btn btn-default">Zoeken</button> 
    </div>
        
}

