﻿@model decimal 
@{ Layout = null; }

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Value </title>
</head>
<body>
    <div>
        Total value is $@Model
    </div>
</body>
</html> 