﻿@model IVH7A4Cinema.WebsiteUI.Models.DayScheduleModel
@{int count = 0; }

@foreach (var Film in Model.FilmsOfDay)
{
    if (count == 0)
    {
        @:<div class="row">
    }
    <div class="col-md-6">
        <div class="col-md-12">
            <h2>@Film.Name</h2>
        </div>

        <div class="col-md-12">
            <div class="col-md-5 nopad-lr">
                <table class="scheduleTable">
                    <tr>
                        <td>Leeftijd:</td>
                        <td>@Film.Age</td>
                    </tr>
                    <tr>
                        <td>Duur:</td>
                        <td>@Film.length minuten</td>
                    </tr>
                    <tr>
                        <td>Taal:</td>
                        <td>@Film.Language</td>
                    </tr>
                    <tr>
                        <td>Ondertitels:</td>
                        <td>@Film.SubTitles</td>
                    </tr>
                    <tr>
                        <td>3D:</td>
                        <td>
                            @if (Film.Type == "3D")
                            {
                                @:Ja
                        }
                            else {
                                @:Nee
                        }
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-7">
                @Html.Action("Schedule", "Home", new { FilmID = Film.FilmID, Date = Model.Date })
            </div>
        </div>
    </div>

    count++;

    if (count == 2)
    {
        @:</div>
        count = 0;
    }
}

@if(count != 2 && count != 0)
{
    @:</div>
}
