﻿@{
    ViewBag.Title = "Homepagina";    
}

<div class="row">
    <div class="film-spotlight">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt varius mauris. Quisque malesuada enim lacus, quis tincidunt ex consectetur non. Nullam sodales tincidunt leo, sed pulvinar ligula euismod aliquet. Curabitur tempus auctor imperdiet. In hac habitasse platea dictumst. Vestibulum ac quam nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam bibendum non tellus nec rhoncus. In viverra mattis metus, vel finibus magna. Ut elit dolor, eleifend eu sem ac, sollicitudin tincidunt nulla. In ex nibh, mollis eget tristique eget, venenatis eu velit. Nullam ac orci in eros tristique molestie a vitae justo.

            Maecenas imperdiet diam ac tellus dictum bibendum. Fusce in egestas velit, iaculis pretium arcu. Etiam cursus metus eu nisl dictum, vitae vehicula orci dapibus. Donec malesuada, nisi vel tristique pharetra, elit velit vehicula leo, ut tincidunt quam eros id eros. Sed diam neque, bibendum quis mollis quis, mattis eleifend magna. Mauris et metus gravida, ultrices velit vel, vestibulum ipsum. Praesent vel tristique sem. Integer maximus accumsan aliquet. Nam congue tincidunt dolor, at euismod velit ullamcorper sed. Sed enim risus, tempus sit amet aliquet sed, ornare nec leo.

            Integer aliquet sem a sodales ultrices. Donec convallis convallis vulputate. Nam sed purus vel quam mattis facilisis vitae ut nunc. Sed suscipit sapien ac nisl vehicula vestibulum. Sed imperdiet, arcu sed tincidunt mattis, ipsum velit luctus libero, a luctus mauris libero quis felis. In finibus pharetra tellus, quis consequat lectus sagittis ut. Morbi bibendum, justo in finibus commodo, ante nulla finibus justo, a faucibus enim dolor in lacus. Sed lobortis ullamcorper velit, eu tincidunt massa porttitor nec. Aenean lacinia, lorem non tristique malesuada, metus mauris interdum erat, ac porta nunc lorem sit amet massa. Aenean sed est rutrum, aliquam ipsum a, luctus tortor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce diam erat, efficitur vel elementum non, posuere sed justo. Nulla sed pellentesque ante. Donec sit amet pretium diam, sodales tincidunt diam.

            Quisque velit arcu, tempus nec metus sed, aliquet dignissim leo. Aliquam erat volutpat. Nullam bibendum ipsum vel ante eleifend blandit. Duis nisi nisi, tincidunt in lectus non, feugiat volutpat est. Maecenas turpis erat, malesuada in mi eget, accumsan lacinia est. Ut ut libero mauris. Donec in finibus augue. Nullam et nibh suscipit metus ornare ornare. Fusce convallis fermentum finibus. Nam quam est, sollicitudin eu est ac, cursus laoreet tortor. Aliquam non sodales ligula, non iaculis risus.

            Duis luctus elit ipsum, ut vestibulum elit blandit eu. In consectetur ornare laoreet. Ut ullamcorper, nisi non condimentum venenatis, nisi felis elementum augue, ac tincidunt velit mi et justo. Aliquam vitae orci vitae purus condimentum volutpat. Nunc scelerisque blandit interdum. Etiam ultrices ex id dictum feugiat. Mauris malesuada facilisis enim, sit amet rutrum lacus mattis id. Sed hendrerit nec lectus non fermentum. Vestibulum malesuada sagittis tortor, eget mattis ligula gravida quis. Vivamus nec nibh volutpat, luctus augue quis, placerat nunc. Nulla bibendum erat faucibus ultrices faucibus. Suspendisse potenti.
        </p>
    </div>
</div>
<div class="film-overview">
    <img src="~/Content/Images/bioscoopagenda.png">
    <ul class="nav nav-pills">
        <li class="active"><a data-toggle="pill" href="#day1" title="@DateTime.Now.Date.ToLongDateString()">Vandaag</a></li>
        <li><a data-toggle="pill" href="#day2" title="@DateTime.Now.Date.AddDays(1).ToLongDateString()">Morgen</a></li>
        <li><a data-toggle="pill" href="#day3" title="@DateTime.Now.Date.AddDays(2).ToLongDateString()">@DateTime.Today.AddDays(2).ToString("dddd")</a></li>
        <li><a data-toggle="pill" href="#day4" title="@DateTime.Now.Date.AddDays(3).ToLongDateString()">@DateTime.Today.AddDays(3).ToString("dddd")</a></li>
        <li><a data-toggle="pill" href="#day5" title="@DateTime.Now.Date.AddDays(4).ToLongDateString()">@DateTime.Today.AddDays(4).ToString("dddd")</a></li>
        <li><a data-toggle="pill" href="#day6" title="@DateTime.Now.Date.AddDays(5).ToLongDateString()">@DateTime.Today.AddDays(5).ToString("dddd")</a></li>
        <li><a data-toggle="pill" href="#day7" title="@DateTime.Now.Date.AddDays(6).ToLongDateString()">@DateTime.Today.AddDays(6).ToString("dddd")</a></li>
        <li><a data-toggle="pill" href="#day8" title="@DateTime.Now.Date.AddDays(7).ToLongDateString()">@DateTime.Today.AddDays(7).ToString("dddd")</a></li>
    </ul>

    <div class="tab-content">
        <div id="day1" class="tab-pane fade in active">
            <h3>Vandaag</h3>
            @Html.Action("DaySchedule", "Home", new { Date = DateTime.Now.Date})
        </div>
        <div id="day2" class="tab-pane fade">
            <h3>Morgen</h3>
            @Html.Action("DaySchedule", "Home", new { Date = DateTime.Now.AddDays(1).Date })
        </div>
        <div id="day3" class="tab-pane fade">
            <h3>@DateTime.Today.AddDays(2).ToString("dddd")</h3>
            @Html.Action("DaySchedule", "Home", new { Date = DateTime.Now.AddDays(2).Date })
        </div>
        <div id="day4" class="tab-pane fade">
            <h3>@DateTime.Today.AddDays(3).ToString("dddd")</h3>
            @Html.Action("DaySchedule", "Home", new { Date = DateTime.Now.AddDays(3).Date })
        </div>
        <div id="day5" class="tab-pane fade">
            <h3>@DateTime.Today.AddDays(4).ToString("dddd")</h3>
            @Html.Action("DaySchedule", "Home", new { Date = DateTime.Now.AddDays(4).Date })
        </div>
        <div id="day6" class="tab-pane fade">
            <h3>@DateTime.Today.AddDays(5).ToString("dddd")</h3>
            @Html.Action("DaySchedule", "Home", new { Date = DateTime.Now.AddDays(5).Date })
        </div>
        <div id="day7" class="tab-pane fade">
            <h3>@DateTime.Today.AddDays(6).ToString("dddd")</h3>
            @Html.Action("DaySchedule", "Home", new { Date = DateTime.Now.AddDays(6).Date })
        </div>
        <div id="day8" class="tab-pane fade">
            <h3>@DateTime.Today.AddDays(7).ToString("dddd")</h3>
            @Html.Action("DaySchedule", "Home", new { Date = DateTime.Now.AddDays(7).Date })
        </div>
    </div>
</div>