﻿@using IVH7A4Cinema.Domain.Entities;
@model IEnumerable<Schedule>


@foreach (var schedule in Model)
{
    <div class="row">
        <div class="col-md-3 col-xs-3 col-lg-3">
            @Html.ActionLink(schedule.Time.ToString(@"hh\:mm"), "TicketSelection", "Ticket", (Schedule)schedule, new { @class = "btn btn-default" })
        </div>
        <div class="col-md-3 col-xs-3 col-lg-3">
            @if (schedule.Room.WheelChair)
            { <img src="~/Content/Image/wheelchair2.jpg" class="img-responsive" /> }

        </div>

        <div class="col-md-3 col-xs-3 col-lg-3">
            Zaal: @schedule.Room.RoomNumber
        </div>
    </div>
}

