﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/header.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="@Url.Action("Index", "")">
                    <img src="@Url.Content("~/Content/Images/avans-logo.png")" />
                </a>
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Films", "FilmSelection", "Film", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Specials", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Zoeken", "Index", "Search", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Contact", "Index", "Contact", new { area = "" }, new { @class = "navbar-brand" })
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        
        <div class="row">
            <footer>
                <p>&copy; @DateTime.Now.Year - AvansBios website</p>
            </footer>
        </div>
    </div>
</body>
</html>