
@{ Import Namespace="MyMVCApplication.Controllers"}
@{ Import Namespace="Microsoft.Web.Mvc"}

@{ Register Src ="~/Views/Category/Categories.ascx" TagName="Partial" TagPrefix="mvc" }

@{ 
 ViewBag.Title = ""; 
}

@section MainContent { 
<h2>List</h2>
    
    List.aspx: @(DateTime.Now.ToLongTimeString())
    
    @{ Html.RenderAction("PartialList");}

    
    @(Html.ActionLink<CategoryController>( x=> x.List(),"Show List"))
    
    
    <mvc:Partial runat="server" /> 
}
