﻿
@{
    ViewBag.Title = "Contact";
}
<div class="row">
    <div class="col-md-6 col-xs-6 col-lg-6">
        <iframe style="width:100%;" src="https://www.google.com/maps/embed/v1/place?q=Lovensdijkstraat%2061%2C%20Breda%2C%20Nederland&key=AIzaSyA6eGPC65eTYFcSnv0zGE8t-uc5Dlwxr8Q"></iframe>
    </div>

    <div class="col-md-6 col-xs-6 col-lg-6">
        <p>Avans Bios <br />
        Lovensdijkstraat 61 - 63<br />
        4818 AJ Breda</p>
    </div>
</div>
