﻿@{
    ViewBag.Title = "PIN Betaling succesvol!";

}

<div align="center">
    <h2>
        <b>@ViewBag.PaymentMsg</b>
    </h2>
    <div class="col-md-6 col-xs-6 col-lg-6">
        @Html.RouteLink("Verder", new
   {
       action = "ToTickets",
       controller = "Payment"
   }, new { @class = "btn btn-default btn-lg w100" })

    </div>
</div>