﻿@{
    ViewBag.Title = "PIN Betaling";

}

<div align="center">
    <h2>
        <b>@ViewBag.PaymentMsg</b>
        <p>Over 5 seconden wordt u naar het volgende scherm gebracht.
    </h2>
    <meta http-equiv="refresh" content="5; url=../Home/Index.cshtml">

</div>