﻿@{
    ViewBag.Title = "PIN Betaling mislukt!";

}

<div align="center">
    <h2>
        <b>@ViewBag.PaymentMsg</b>
        <p>Over 5 seconden wordt u naar het hoofdscherm gebracht.
    </h2>
    <meta http-equiv="refresh" content="5; url=..">

</div>