﻿@model QuizApp.Models.Choice

@if (Model.IsSelected && Model.IsAnswer)
{
    <div style="background-color:lightgreen">
        @Html.RadioButton("Quiz.Questions[" + Model.Question.OrderNumber + "].Choices[0].Id", Model.Id)
        @Model.Text
    </div>
}
@if (!Model.IsSelected && Model.IsAnswer)
{
    <div style="background-color:lightgreen">
        @Html.RadioButton("Quiz.Questions[" + Model.Question.OrderNumber + "].Choices[0].Id", Model.Id)
        @Model.Text
    </div>
}
else
{
    @Html.RadioButton("Quiz.Questions[" + Model.Question.OrderNumber + "].Choices[0].Id", Model.Id)
    @Model.Text
}