﻿@model QuizApp.Models.Question

<div class="question">

@Html.HiddenFor(m => m.Id)

<b>@Model.Text </b><br/>

@for (var i = 0; i < Model.Choices.Count(); i++)
{
    @Html.Partial("_Choice", Model.Choices.ElementAt(i), new ViewDataDictionary()
   {
       TemplateInfo = new TemplateInfo()
       { HtmlFieldPrefix = "Choices[" + i.ToString() + "]" }
   });
    <br />
    }


</div>
