﻿@model QuizApp.Models.Question

<div class="question">
    @Html.Hidden("Quiz.Questions[" + Model.OrderNumber + "].Id", Model.Id)

    <br />
    <b>@Model.Text </b><br />

@for (var i = 0; i < Model.Choices.Count(); i++)
{
    @Html.Partial("_ChoiceAnswer", Model.Choices.ElementAt(i), new ViewDataDictionary()
{
    TemplateInfo = new TemplateInfo()
    { HtmlFieldPrefix = "Choices[" + i.ToString() + "]" }
});
    <br />
}

</div>
