﻿@model QuizApp.Models.Grade
@{
    ViewBag.Title = "Grade";
}

<h2>Grade</h2>

<b> @Model.Quiz.Name </b><br />

<br />

Totaal aantal vragen: @Model.Quiz.Questions.Count
<br />
@if (Model.Score < 55)
{
    <p>
        Percentage goed:
        <div style="color:red">
            @Model.Score %
        </div>
    </p>
}
else {
    <p>
        Percentage goed:
        <div style="color:darkgreen">
            @Model.Score %
        </div>
    </p>
}
<br />

@for (var i = 0; i < Model.Quiz.Questions.Count(); i++)
{
    @Html.Partial("_QuestionAnswer", Model.Quiz.Questions.ElementAt(i), new ViewDataDictionary()
    {
    TemplateInfo = new TemplateInfo()
    { HtmlFieldPrefix = "Questions[" + i.ToString() + "]" }
    });
    <br />
}
<br />

@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })


