﻿@model QuizApp.Models.Quiz

@{
    ViewBag.Title = "Publish";
}

<h1> @Model.Name </h1>
<br />

@Html.Hidden("Id", Model.Id)

@using (var form = Html.BeginForm(new { Action = "Grade" }))
{
    for (var i = 0; i < Model.Questions.Count(); i++)
    {
        @Html.Partial("_Question", Model.questions.ElementAt(i), new ViewDataDictionary()
        {
            TemplateInfo = new TemplateInfo()
            { HtmlFieldPrefix = "Questions[" + i.ToString() + "]" }
        });
        <br />
    }
    <input type="submit" value="Vesturen" />
}
