

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>@ViewBag.Title</title>
    <link href="../../Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="../../Scripts/jquery-1.3.2.js" type="text/javascript"></script>
    
</head>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
              
            </div>
              
          
            
            <div id="menucontainer">
            
            
            
            </div>
        </div>

        <div id="main">
            @RenderSection("MainContent", required: false)

            <div id="footer">
            </div>
        </div>
    </div>
</body>
</html>
