

@{ 
 ViewBag.Title = "AddressDetails"; 
}

@section MainContent { 
<h2>AddressDetails</h2>

@using (Html.BeginForm())
   {

Street: @(Html.TextBox("Street")) <br />
City: @(Html.TextBox("City")) <br />
State: @(Html.TextBox("State")) <br />

<input type="submit" value="Next" name="nextButton" />
<input type="submit" value="Back" name="backButton" />


} 
}
