
@{ Import Namespace="BusinessObjects.Entities"}
@{ Import Namespace="MyMVCApplication"}

@{ 
 ViewBag.Title = "DemoGrid"; 
}

@section MainContent { 
<h2>DemoGrid</h2>

    <table>
    <tr>
    <td>
    First Name
    </td>
    <td>
    Last Name
    </td>
    </tr>
    

    @foreach (var customer in (ViewData["Customers"] as IEnumerable<Customer>))
       {
    
    <tr>
    <td>
    @(customer.FirstName)
    </td>
    <td>
    @(customer.LastName)
    </td>
    </tr>           
        
    
    }
    
    </table> 
}
