
@{ Import Namespace="MyMVCApplication"}

@{ 
 ViewBag.Title = "Index"; 
}

@section MainContent { 
<h2>Index</h2>
    
    @using(Html.BeginForm( new { Action="Register"}  ))
 {    
       
    @(Html.Captcha())
    @(Html.TextBox("captcha"))
    
    <input type="submit" value="Submit" />
    
    } 
}
