﻿@model SportsStore.Domain.Entities.Product

<div class="well">    
    <h3>        
    <strong>@Model.Name</strong>        
    <span class="pull-right label labelprimary">@Model.Price.ToString("c")</span>    
    </h3>    
    <span class="lead"> @Model.Description</span> 
</div>