﻿@model String

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        Result
    </title>
</head>

<body>
    <div>
        @Model
    </div>
</body>
</html>