

@{ 
 ViewBag.Title = "SimpleValidation"; 
}

@section MainContent { 
<h2>Simple Validation</h2>
        
   @using (var form = Html.BeginForm(new { Action = "SimpleValidation" }))
      {     
        
        
    @(Html.ValidationSummary("Errors"))     
        
   FirstName:  @(Html.TextBox("FirstName"))
   @(Html.ValidationMessage("FirstName","*"))
   
   LastName: @(Html.TextBox("LastName"))
    @(Html.ValidationMessage("LastName","*"))
    
    <input type="submit" value="Save" />
    
    } 
}
