﻿@model IVH7A4Cinema.WebUI.Models.CartOrderViewModel

@{
    Layout = null;
    int i = 0;
}

@foreach (KeyValuePair<string, bool> seat in Model.SelectedSeat)
{

    if (seat.Value != false)
    {
        string[] RowSeat = seat.Key.Split("-".ToCharArray(), StringSplitOptions.RemoveEmptyEntries);
        <div class="row">
            <div class="col-md-4">Rij: @RowSeat[0]</div>
            <div class="col-md-4">Stoel: @RowSeat[1]</div>
        </div>
        i++;
    }


}

@if (i == Model.NeededSeats)
{
    <div class="row">
        <div class="col-md-12">
            @Html.ActionLink("Plaats bestelling", "Order", "Order", null, new { @class = "btn btn-default" })
        </div>
    </div>
}