﻿.navbar-inverse {
    background-color: #ff9900;
}

.navbar-inverse .navbar-brand {
    color: black;
}

.navbar-header {
    padding-left: 11%;
    padding-right: 11%;
    min-width: 1000px;
}

img {
    margin-top: -3px;
}

.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 20px;
}
