﻿.film-spotlight {
    background-color: black;
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: black;
    background-color: #ff9900;
}

a {
    color: black;
}

.film-overview {
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
    margin-bottom: 3%;
}

img {
    margin-bottom: 20px;
}

p {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 3%;
    padding-bottom: 3%;
}

/* Room layout */

.badge.transparent {
    background-color: transparent;
}

.badge.seat {
    background-color: #ff9900;
}

.badge.selected {
    background-color: #355aa8;
}

.badge.reserved {
    background-color: #777;
}
.screenBlock {
    border: 1px solid black;
}