﻿@model IVH7A4Cinema.WebUI.Models.RoomLayoutModel


<div class="row">
    @foreach (string row in Model.Rows)
    {
        {string[] seats = row.Split("\r\n".ToCharArray(), StringSplitOptions.RemoveEmptyEntries);

            foreach (string seat in seats)
            {
                if (seat == "h")
                {
                    <span style="width: 12.5px; display inline-block;">&nbsp;</span>
                }
            }
        }
            }
</div>