﻿@using IVH7A4Cinema.Domain.Entities
@model IVH7A4Cinema.WebUI.Models.RoomLayoutModel

@{
    ViewBag.Title = "Stoel selecteren";
    int seatsFound = 0;
    var list = new List<string[]>();

}

<div class="row text-center">
    <h1>@Model.Schedule.Film.Name</h1>
</div>
<div class="col-md-8 col-xs-8 col-lg-8">
    <div class="row">

        @foreach (string row in Model.Rows)
        {
            <div style="height: 25px;">

                @{
                    string[] result = row.Split("|".ToCharArray(), StringSplitOptions.RemoveEmptyEntries);
                    string rowNumber = result[0];
                    string seatsA = result[1];
                    string[] seats = seatsA.Split(",".ToCharArray(), StringSplitOptions.RemoveEmptyEntries);
                    int i = 1;


                    <span style="width: 20px; margin-right 20px; text-align right; display inline-block;">@rowNumber</span>
                    foreach (string seat in seats)
                    {
                        if (seat == "h")
                        {
                            <span style="width: 12.5px; display inline-block;">&nbsp;</span>
                        }
                        else if (seat == "g")
                        {
                            <span class="badge transparent">&nbsp;</span>
                        }
                        else if (seat == "a")
                        {
                            Reservation reservation = Model.Reservations.Where(r => r.SeatNumber == i && r.RowNumber == Convert.ToInt32(rowNumber)).FirstOrDefault();
                            if (reservation == null)
                            {
                                <a href="javascript:;" class="badge seat" id="seat-@rowNumber-@i" onclick="selectSeat(@rowNumber, @i)">&nbsp;</a>
                            }
                            else
                            {
                                <a href="javascript:;" class="badge seat reserved" id="seat-@rowNumber-@i">&nbsp;</a>
                            }


                            ++i;
                        }
                    }
                }

            </div>
                    }
    </div>

    <div class="row">
        <div style="width: 40%; margin: 20px 55px 0; border: 2px solid #333; border-radius: 3px; padding: 20px; text-align: center; color: #333; font-weight: bold; font-size: 16px;">
            Scherm
        </div>

        <div class="col-md-12 col-xs-12 col-lg-12">
            <span class="badge seat">&nbsp;</span> Beschikbaar &nbsp;&nbsp;
            <span class="badge selected">&nbsp;</span> Geselecteerd &nbsp;&nbsp;
            <span class="badge reserved">&nbsp;</span> Gereserveerd 
        </div>
    </div>
</div>

<div class="col-md-4 col-xs-4 col-lg-4">
    <div id="cart">

    </div>
</div>

<script type="text/javascript">

    var selectedSeats = {  };
    var amountSelected = 0;
    var neededSeats = @Model.NeededSeats;

    function selectSeat(row, seat) {
        
        var seatObject = $('#seat-' + row + '-' + seat);

        if (selectedSeats[row + '-' + seat] == true) {
            seatObject.removeClass('selected');
            selectedSeats[row + '-' + seat] = false;
            amountSelected--;
        } else {
            if (amountSelected < neededSeats)
            {
                seatObject.addClass('selected');
                selectedSeats[row + '-' + seat] = true;
                amountSelected++;
            } else{

            }
        }

        $.post("Cart", { seats: JSON.stringify(selectedSeats), neededSeats: neededSeats }, function (data) {
            //console.log(data);
            $('#cart').html(data);
        })
    }
</script>
