﻿@model Birthday.Models.BirthdayModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Styles.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" /
    <title>BirthdayDataForm</title>
</head>
<body>
    <div class="panel panel-success">
        <div class="panel-heading text-center"><h4>Birthday form</h4></div>
        <div class="panel-body">
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary()
                <div class="form-group">
                    <label>Voer je naam in:</label>
                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control"})
                </div>
                <div class="form-group">
                    <label>Voer je geboortedatum in:</label>
                </div>
                <div class="form-group">
                    <label>Dag</label>
                    @Html.TextBoxFor(x=>x.Day, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Maand</label>
                    @Html.TextBoxFor(x => x.Month, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>Jaar</label>
                    @Html.TextBoxFor(x => x.Year, new { @class = "form-control" })
                </div>
                <div class="text-center">
                    <input class="btn btn-success" type="submit" value="Submit RSVP" />
                </div>
            }
        </div>
    </div>
</body>
</html>
