﻿@model Birthday.Models.BirthdayModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>DaysUntilBirthday</title>
</head>
<body>
    <div class="text-center">
        <h2>Nog @ViewBag.DaysUntilBirthday dagen tot je @ViewBag.Age-ste verjaardag, @ViewBag.Name!</h2>
        <br />
        <div class="btn btn-success">
            @Html.ActionLink("Home", "Index")
        </div>
    </div>
</body>
</html>
