﻿@model Birthday.Models.BirthdayModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>HappyBirthday</title>
    <style>
        body {
            background-color: #F1F1F1;
        }
    </style>
</head>
<body>
    <div class="text-center"> 
        <h1>@ViewBag.Name !</h1>
        <img src="http://i.imgur.com/ZsATwNf.jpg" alt="Gefelicteerd" />
        <h1>Met je @ViewBag.Age-ste verjaardag!</h1>
        <div class="btn btn-success">
            @Html.ActionLink("Home", "Index")
        </div>
    </div>
</body>
</html>
