﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <title>Index</title>
    <style>
        .btn a { color: white;
            text-decoration: none; }
        body { background-color: #F1F1F1;}
    </style> 
</head>
<body>
    <div class="text-center"> 
        <h2>Het is vandaag: @ViewBag.Date </h2>
        <br />
        <div class="btn btn-success">
            @Html.ActionLink("Bereken het aantal dagen tot mijn verjaardag", "BirthdayDataForm")
        </div>
    </div>
</body>
</html>
