﻿@using IVH7A4Cinema.Domain.Entities
@model IEnumerable<Reservation>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <style>
        h1 {
            margin: 0px;
        }

        .name {
            text-align: center;
        }
    </style>
</head>
<body>
    @foreach (var t in Model)
    {
        <table style="border: 1px solid black; width: 100%; padding: 50px;">
            <tr>
                <td colspan="3"><h1 class="name">@t.Schedule.Film.Name</h1></td>
            </tr>
            <tr>
                <td colspan="3"><h1>Zaal @t.Schedule.Room.RoomNumber</h1></td>
            </tr>
            <tr>
                <td>@t.Schedule.Date.ToShortDateString()</td>
                <td>&nbsp;</td>
                <td>@t.Schedule.Time.ToString(@"hh\:mm")</td>
            </tr>
            <tr>
                <td>Rij @t.RowNumber</td>
                <td>&nbsp;</td>
                <td>Stoel @t.SeatNumber</td>
            </tr>
        </table>
    }

</body>
</html>