﻿@model IVH7A4Cinema.WebUI.Models.ReservationListModel

@{
    ViewBag.Title = "Ticket bevestigen";
}

<body>
    <!--Film info-->
    <div align="center">
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                <div align="right">
                    <b><p>Film:</p></b>
                    <b><p>Datum:</p></b>
                    <b><p>Aanvang:</p></b>
                    <b><p>Zaal:</p></b>
                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                <div align="left">
                    <p>@Model.Schedule.Film.Name</p>
                    <p>@Model.Schedule.Date.ToShortDateString()</p>
                    <p>@Model.Schedule.Time.ToString(@"hh\:mm")</p>
                    <p>@Model.Schedule.Room.RoomNumber</p>
                </div>
            </div>
        </div>
        <!--Line-->
        <hr />
        <!--Kopjes-->
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                <div align="right">
                    <b>Tickets:</b>
                </div>
            </div>
            <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                <b>Type:</b>
            </div>
            <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                <b>Prijs:</b>
            </div>
            <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                <b>Rijnummer:</b>
            </div>
            <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                <b>Stoelnummer:</b>
            </div>
        </div>
        <!--Tickets -- Hier worden alle tickets weergegeven-->
        @foreach (var r in Model.Reservations)
        {
            <div class="row">
                <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                    <p>@r.TicketID</p> <!--Type moet nog in de database komen-->
                </div>
                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                    <p>@r.TotalPrice</p>
                </div>
                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                    <p>@r.RowNumber</p>
                </div>
                <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                    <p>@r.SeatNumber</p>
                </div>
            </div>
        }
        <!--Line-->
        <hr />
        <!--Totaalprijs-->
        <div class="row">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4"></div>
            <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1"></div>
            <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                <div align="right">
                    <b>Totaalprijs:</b>
                </div>
            </div>
            <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1">
                <div align="left">
                    <b>17.00</b>
                </div>
            </div>
        </div>
        <!--ConfirmButton-->
        @Html.ActionLink("Bevestigen", "Pdf", new { ReservationId = Model.ReservationId }, new { @class = "btn btn-lg btn-default" })
    </div>
</body>


