﻿@using IVH7A4Cinema.WebsiteUI.Models;
@model FilmListViewModel
@{
    ViewBag.Title = "Alle Films";
    int count = 0;
}

@foreach (var f in Model.Films)
{
    if (count == 0)
    {
        @:<div class="row">
    }
    <div class="col-md-3 col-xs-3 col-lg-3">
        <div class="col-md-12 col-xs-12 col-lg-12">
            
            @{ string filmposterurl = @Url.Content("/Content/MoviePosters/") + f.FilmID + ".jpg";}
            <a href="@Url.Action("FilmDetail", "Film", new {FilmID = f.FilmID })"><img src="@filmposterurl" class="img-responsive, btn btn-default" /></a>
</div>

        <div class="col-md-12 col-xs-12 col-lg-12">
            <h3>@f.Name</h3>
        </div>
    </div>
                count++;

                if (count == 4)
                {
        @:</div>
        count = 0;
    }
}