﻿@model IVH7A4Cinema.Domain.Entities.Film
@{
    ViewBag.Title = "FilmDetail";
}

@using (Html.BeginForm())
{
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3"></div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4"><h3><u>@Model.Name</u></h3></div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4"><h3><u>Informatie</u></h3></div>
    </div>

    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="col-md-3 col-lg-3 col-sm-3 col-xs-3">@{ string filmposterurl = @Url.Content("/Content/MoviePosters/") + @Model.FilmID + ".jpg";}
            <img src="@filmposterurl" class="img-responsive"/>
        </div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">@Model.Description</div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"><b>Taal:</b> @Model.Language</div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"><b>Ondertitels:</b> @Model.SubTitles</div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"><b>Lengte:</b> @Model.length  Minuten</div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"><b>Soort:</b> @Model.Type</div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"><b>Regisseur:</b> @Model.Director</div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"><b>Acteurs:</b> Ryan Reynolds, Leonardo DiCaprio, Michel Tukker, Michel Rijvers</div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"><b>Ga naar: <a href="@Model.IMDB" target="_blank">IMDB</a></b> </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"><b>Startdatum:</b>@Model.StartDate.ToShortDateString() </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12"><b>Einddatum:</b>@Model.EndDate.ToShortDateString() </div>
        </div>
    </div>
}

