﻿@model int

@{
    ViewBag.Title = "Bedankt voor uw reservering!";
}

<div class="row">
    <div class="col-md-12 col-lg-12 col-xs-12">
        <p>Bedankt voor uw reservering.</p>
        @Html.ActionLink("Print reservering", "Pdf", "Payment", new { ReservationId = Model }, new { @class = "btn btn-default" })
    </div>
</div>