﻿
@{
    ViewBag.Title = "Afrekenen";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-4 col-xs-4 col-lg-4">

        </div>

        <div class="col-md-8 col-xs-8 col-lg-8">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-1 col-xs-1 col-lg-1">
                        <input type="radio" name="paymentMethod" value="IDEAL" />
                    </div>
                    <div class="col-md-1 col-xs-1 col-lg-1">
                        <img src="@Url.Content("/Content/Images/Payment/ideal.jpg")" class="img-responsive" />
                    </div>
                    <div class="col-md-10 col-xs-10 col-lg-10">
                        iDEAL - Online betalen via je Nederlandse bank
                    </div>

                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-1 col-xs-1 col-lg-1">
                        <input type="radio" name="paymentMethod" value="CREDIT_CARD" />
                    </div>
                    <div class="col-md-1 col-xs-1 col-lg-1">
                        <img src="@Url.Content("/Content/Images/Payment/cc.jpg")" class="img-responsive" />
                    </div>
                    <div class="col-md-10 col-xs-10 col-lg-10">
                        Creditcard - Snel en eenvoudig betalen
                    </div>
                </div>
            </div>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-1 col-xs-1 col-lg-1">
                        <input type="radio" name="paymentMethod" value="LATER" />
                    </div>
                    <div class="col-md-1 col-xs-1 col-lg-1">
                        
                    </div>
                    <div class="col-md-10 col-xs-10 col-lg-10">
                        Achteraf - Betaling tijdens het ophalen van de tickets
                    </div>
                </div>
            </div>

            <div class="col-md-12 col-xs-12 col-lg-12">
                <input type="hidden" name="ReservationId" value="@ViewBag.ReservationId" />
                <button class="btn btn-default" type="submit">Bestelling plaatsen</button>
            </div>
        </div>
    </div>
}