﻿@using IVH7A4Cinema.Domain.Entities
@model Reservation

    @{
        Layout = null;
    }

    <!DOCTYPE html>

    <html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Bevestiging</title>
    </head>
    <body>
            <table style="border: 1px solid black; width: 100%; padding: 50px;">
                <tr>
                    <td colspan="3"><h1 class="name">@Model.Schedule.Film.Name</h1></td>
                </tr>
                <tr>
                    <td colspan="3"><h1>Zaal @Model.Schedule.Room.RoomNumber</h1></td>
                </tr>
                <tr>
                    <td>@Model.Schedule.Date.ToShortDateString()</td>
                    <td>&nbsp;</td>
                    <td>@Model.Schedule.Time.ToString(@"hh\:mm")</td>
                </tr>
                <tr>
                    <td colspan="3"><i><u>Dit is geen entreebewijs.</u></i></td>
                </tr>
            </table>
    </body>
</html>
