﻿/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.nopad-lr {
    padding-left: 0px;
    padding-right: 0px;
}

.w100 {
    width: 100%;
}
.navbar-inverse {
    background-color: #ff9900;
}
.real_time {
    margin-top: -50px;
    font-size: 25px;
    font-weight: bold;
}
/* SchedulePlanning page */

.scheduleTable {
    text-align: right;
}

/* Room layout */

.badge.transparent {
    background-color: transparent;
}

.badge.seat {
    background-color: #ff9900;
}

.badge.selected {
    background-color: #355aa8;
}

.badge.reserved {
    background-color: #777;
}
.screenBlock {
    border: 1px solid black;
}
