﻿@model IVH7A4Cinema.WebUI.Models.OrderSelectionViewModel

@{
    ViewBag.Title = "Kies tickets";
}

@using (Html.BeginForm())
{ 
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4"><h3><b><u>Type</u></b></h3></div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4"><h3><b><u>Prijs</u></b></h3></div>
        <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4"><h3><b><u>Aantal</u></b></h3></div>
    </div>
  
    foreach (var price in Model.Prices)
    {
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                <a href="javascript:;" class="btn btn-default btn-circle" onclick="openModal('@price.Description')">?</a>
                @price.DisplayName
            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                @if(Model.Film.length > 120)
                { @price.TicketPriceLong.ToString("c")}
                else
                {@price.TicketPrice.ToString("c")}

            </div>
            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
            <button type="button" class="btn btn-circle" name="btnMinus@(price.Name)" onclick="substract('textField@(price.Name)')">-</button>
            <input id="textField@(price.Name)" name="textField@(price.Name)" size="2" value="0" />
            <button name="btnPlus@(price.Name)" onclick="add('textField@(price.Name)')" type="button" class="btn btn-circle">+</button></div>
        </div>
    }


    <input type="hidden" name="scheduleID" value="@Model.Schedule.ScheduleID" />
    <input class="btn btn-default btn-lg" type="submit" value="Bestellen"/>

}



<div class="modal fade" tabindex="-1" role="dialog" id="modalInformation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Ticket informatie</h4>
            </div>
            <div id="modal-body" class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Sluiten</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">

    function openModal(message) {
        document.getElementById("modal-body").innerHTML = message;
        $("#modalInformation").modal();
    }

    function add(src) {
        var input = document.getElementById(src);
        var amount = parseInt(input.value) + 1;

        input.value = amount;
    }

    function substract(src) {
        var input = document.getElementById(src);
        var count = parseInt(input.value) - 1;

        if (count <= 0) {
            count = 0;
        }

        input.value = count;
    }

</script>