﻿@using IVH7A4Cinema.WebUI.Models
@model PlaceOrderViewModel

@{
    ViewBag.Title = "Bevestig bestelling";
    PlaceOrderViewModel ViewModel = new PlaceOrderViewModel { Schedule = Model.Schedule, SelectedSeats = Model.SelectedSeats, Tickets = Model.Tickets };
}

@foreach (var seat in Model.SelectedSeats)
{
    if (seat.Value != false)
    {
        string[] RowSeat = seat.Key.Split("-".ToCharArray(), StringSplitOptions.RemoveEmptyEntries);
        <div class="row">
            <div class="col-md-4">Rij: @RowSeat[0]</div>
            <div class="col-md-4">Stoel: @RowSeat[1]</div>
        </div>
    }
}

<div class="row">
    <div class="col-md-12">
        @Html.ActionLink("Bevestig bestelling", "Order", "Order", new { Model = ViewModel }, new { @class = "btn btn-default" })
    </div>
</div>


