﻿
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <h1>Warcraft lore quiz</h1>
    <p class="lead">In deze applicatie kan je een kleine quiz afleggen! De vragen binnen de quiz zijn vragen over de Warcraft universe! Test dus je kennis, hoeveel weet jij van het Warcraft universe?</p>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Naar quiz" onclick="location.href='@Url.Action("Publish", "Quiz")'" class="btn btn-default" />
        </div>
    </div>
    <br /><br />
</div>  


