@model Grade
@{ Import Namespace="MyMVCApplication.Models"}

@{ 
 ViewBag.Title = "Grade"; 
}

@section MainContent { 
<h2>Grade</h2>

    Exam Name: @(Model.Exam.Name)
    
    <br />
    
    Total Questions: @(Model.Exam.Questions.Count) 
    <br />
    Your Score: @(Model.Score) / @(Model.Exam.TotalPoints)
    <br />  

    @foreach (var question in Model.Exam.Questions)
       { 
    
        @{ Html.RenderPartial("__question",question);}

    
    } 
}
