@model Exam
@{ Import Namespace="MyMVCApplication.Models"}

@{ 
 ViewBag.Title = "Publish"; 
}

@section MainContent { 
<h1> @(Model.Name) </h1>
   <br />      
    
    @(Html.Hidden("Id", Model.Id ))
    
  @using (var form = Html.BeginForm(new { Action = "Grade"}))
     {  
    
    
    @foreach (var question in Model.Questions)
       {
    
        @{ Html.RenderPartial("__question", question);}
           
     
     <br />
     
    }
    
    <input type="submit" value="Submit" />
    
   
    
} 
}
